<h1>Thanks for sending the gift!</h1>

<h2>Here are the details of your purchase: </h2>


<p>Sent To: <%=@gift.receiver.email%></p>

<p>Good for one <%=@gift.name%> at <%=@restaurant.name%></p>

<p>Pick up at: <%=@restaurant.address %></p>