<div class="row low_content">
  <div class="small-12 medium-10 medium-offset-1 columns">


<h1 class="add_title_padding"><%=@restaurant.name%></h1>
     <%= cl_image_tag(@restaurant.picture, :width => 1600, :height => 700, :crop => :fill) %>
     <hr>
    <% if @restaurant.owner?(current_restaurant) %>
    <%= render partial: "profile_view" %>
    <% else %>
    <%= render partial: "user_view" %>
    <% end %>
  </div>
</div>
