.header-nav {
  position: absolute;
  width: 100%;
  height: 1%;


  a {
    background-color: #858d93;
    color: white !important;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14pt;
  }

  a:hover {
    background-color: #FF9500;
    border: none;
  }
}

ul {
  float: right;
  width:52%;
}

li {
  padding:1%;
  display: inline-block;
}